.section-heading {
    
    @apply flex flex-col justify-center items-center gap-12  min-h-28 relative
    w-full 

}
.section-heading .body {
    @apply flex flex-col justify-center items-center gap-12 text-[2rem] font-medium relative w-11/12
}
.section-heading .highlighted {
    @apply flex flex-col justify-center items-center gap-4 text-[2rem] font-medium relative w-11/12
}
.section-heading::before {
    content: " ";
    background-image: url(./circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top ;
    top: 10%;
    position: absolute;
    height: 109%;
    width: 100%;
    @apply -z-10
}

.section-heading .highlighted::after {
    content: '';
    background: rgb(13, 17, 26);
    background: linear-gradient(-48deg, rgba(13, 17, 26, 1) 0%, rgba(92, 115, 174, 1) 66%);

    @apply absolute top-12 -right-8 w-2/12 h-0.5
}
.section-heading .highlighted::before {
    content: '';
    background: rgb(13, 17, 26);
    background: linear-gradient(48deg, rgba(13, 17, 26, 1) 0%, rgba(92, 115, 174, 1) 66%);

    @apply absolute top-12 -left-8 w-2/12 h-0.5
}

.section-heading .chip {
    position: relative;
    padding: 20px;
    border-radius: 12px; /* Ensures rounded corners */
    
    padding: 20px;
    
    background: rgb(142, 141, 141);
    background: linear-gradient(48deg, rgb(11, 11, 11) 0%,  rgb(11, 11, 11) 66%);
    @apply min-w-28 h-8 flex justify-center items-center rounded-3xl border border-[#FFFFFF1A] text-xs uppercase
}

.section-heading .text {
    @apply flex flex-col justify-center items-center gap-4 text-[2rem] font-medium relative w-11/12
}

.section-heading .subtitle {
    background: linear-gradient(90deg, #7687B5, #91B0FF, #E2E8F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply text-center
}

.section-heading .description {
    @apply text-[#E2E8F8] text-xs
}
@media screen and (max-width: 1280px) {
    .section-heading .text {
        @apply text-[1.2rem]
    }    
    .section-heading .subtitle {
        @apply text-[1.5rem]
    }

}